:root {
  font-size: clamp(10px, 12px + 0.7vw, 32px);
  --fs-multiplier: .4;
  --fs-xl: calc(var(--fs-multiplier) * 2.25rem);
  --fs-md: calc(var(--fs-multiplier) * 1.2rem);
  --fs-sm: calc(var(--fs-multiplier) * .6rem);
  --fs-xs: calc(var(--fs-multiplier) * .5rem);
  --fs-xxs: calc(var(--fs-multiplier) * .45rem);
  --main-br: 20px;
}

@media screen and (450px < width) {
  :root {
    --fs-multiplier: .5;
  }
}
@media screen and (700px < width) {
  :root {
    --fs-multiplier: .6;
    --main-br: 30px;
  }
}
.debug {
  position: fixed;
  left: 10vw;
  top: 5vh;
  transform: translateY(-50%);
  z-index: 1;
}

#original-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}

a,
a:visited {
  text-decoration: none;
}

body {
  font-family: "Fira Sans";
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.red-button {
  color: whitesmoke;
  background-color: red;
  border-radius: 9999px;
  padding: 0.4vw calc(0.8vw + 2px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.tac {
  text-align: center;
}

.flex {
  display: flex;
}

.main {
  position: relative;
  border-radius: var(--main-br);
  margin: 10.4vh 25.5vw 10.4vh 26vw;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  min-width: 270px;
}

.header {
  padding: 0% 7.5% 0% 6%;
  height: 6.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: var(--fs-sm);
}
.header .home {
  margin-right: auto;
  padding: 2px 0 0 1px;
}
.header .home__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  margin-left: -5%;
}
.header .home__logo {
  width: 23%;
  padding-left: 4px;
}
.header .home__content {
  font-weight: bold;
}
.header .nav {
  margin-right: 3%;
  font-size: var(--fs-xs);
}
.header .nav ul {
  display: flex;
  align-items: center;
  gap: 1.3vw;
}
.header .nav .logo {
  margin-right: auto;
}
.header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .buttons .button {
  all: unset;
  display: flex;
  width: 60%;
}
.header .buttons .button__img {
  width: 75%;
  cursor: pointer;
}
.header .buttons .signIn {
  font-size: var(--fs-xxs);
}

.highlightedMenu {
  display: flex;
  justify-content: center;
  padding-left: 6.5%;
}
.highlightedMenu .highlightedMenu__content {
  flex: 1 1 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-between;
  margin: 2vw 0;
  padding: 9% 0 5%;
}
.highlightedMenu .highlightedMenu__content > * {
  margin-left: 3%;
}
.highlightedMenu .highlightedMenu__name {
  color: #00240F;
  font-size: var(--fs-xl);
  letter-spacing: -1px;
  font-weight: 900;
}
.highlightedMenu .highlightedMenu__description {
  font-size: calc(0.9 * var(--fs-md));
  margin-bottom: 5%;
}
.highlightedMenu .highlightedMenu__orderButton {
  font-size: var(--fs-sm);
}
.highlightedMenu .previewContainer {
  flex: 1.3 1 0;
  width: 0;
}
.highlightedMenu .previewContainer .highlightedMenu__preview {
  width: 100%;
  max-height: 100%;
  mask-image: linear-gradient(to left, rgb(255, 255, 255) 60%, transparent 88%);
  -webkit-mask-image: linear-gradient(to left, rgb(255, 255, 255) 60%, transparent 88%);
}

.recommandedMenus {
  padding-bottom: 7%;
}
.recommandedMenus .recommandedMenus__title {
  margin: 4% 0 3%;
  text-align: center;
  font-size: calc(1.2 * var(--fs-md));
  font-size: var(--fs-md);
}
.recommandedMenus .recommandedMenus__list {
  margin: 0 17%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}
.recommandedMenus .menu {
  padding: 8%;
  display: flex;
  flex-direction: column;
  border: 1px #BDBDBD solid;
  border-radius: 180px 180px 30px 30px;
  justify-content: space-between;
  align-items: center;
}
.recommandedMenus .menu.shadow {
  box-shadow: -10px 20px 40px -1px rgba(0, 0, 0, 0.2);
}
.recommandedMenus .menu__preview {
  border-radius: 50%;
  width: 85%;
  transform: translateY(-1px);
  margin-bottom: 10%;
  box-shadow: -2px 15px 30px #dadada;
}
.recommandedMenus .menu__name {
  font-weight: bold;
  text-align: center;
  font-size: calc(1.5 * var(--fs-sm));
  margin-bottom: 3%;
}
.recommandedMenus .menu__description {
  text-align: center;
  color: #333333;
  margin-bottom: auto;
  font-size: var(--fs-xxs);
}
.recommandedMenus .menu__price {
  color: #05A84B;
  font-weight: bold;
  font-size: calc(1.5 * var(--fs-sm));
  margin: 11% 0;
}
.recommandedMenus .menu__size {
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 999px;
  border: 1px solid #4f4f4f;
  padding: 3% 3%;
  font-size: var(--fs-xs);
  cursor: pointer;
}
.recommandedMenus .menu__size select {
  width: -moz-available;
  background-color: transparent;
  border: none;
  font-size: var(--fs-xs);
  cursor: pointer;
  appearance: none;
}
.recommandedMenus .menu__size .custom-arrow {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  right: 5%;
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #4f4f4f;
  cursor: pointer;
}
.recommandedMenus .menu__size .custom-arrow img {
  width: 40%;
  transform: translateX(50%);
  cursor: pointer;
}
.recommandedMenus .menu__addButton {
  border: none;
  font: inherit;
  cursor: pointer;
  margin-top: 3%;
  width: -moz-available;
  padding: 4% 0;
  font-size: var(--fs-xs);
}

.main__floatingElement {
  position: absolute;
}

#topLeaf {
  width: 5%;
  top: -1%;
  left: 38%;
  transform: translate(0, -50%);
}

#leftLeaf {
  width: 25%;
  top: 49%;
  left: 0%;
  transform: translate(-55%, 0);
}

#rightLeaf {
  width: 23%;
  bottom: -13%;
  right: -15%;
}

#leftTomato {
  width: 16%;
  bottom: -3.5%;
  left: -9.5%;
  z-index: -1;
}

#rightTomato {
  width: 23%;
  top: 40%;
  right: -12%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  position: relative;
  width: 25vw;
  gap: 5%;
}

.footer__leftPart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__leftPart img {
  max-height: 1.5rem;
  width: 100%;
  min-width: 70px;
}

.footer__separation {
  width: 1px;
  height: 160%;
  background-color: #072E45;
}

.footer__rightPart {
  width: 100%;
  display: flex;
  align-items: center;
  color: #072E45;
  font-size: var(--fs-md);
}
.footer__rightPart .exponent {
  font-size: 5px;
  margin-left: 2px;
  text-transform: uppercase;
  align-self: flex-start;
}

/*# sourceMappingURL=style.css.map */
